body {
    background-color: #ffffff;
}

h1 {
    white-space: pre;
}

h2 {
    line-height: 20%;
    white-space: pre;
}

h5 {
    display: inline-block;
}

.index {
    width: 100px;
}

input[type="radio"] {
    width: 75px;
}

#twentyone
{
    background: rgb(255, 60, 0) !important ;
    width: 5% ;
}
#dealerbust
{
    background: rgb(255, 132, 0) !important ;
    width: 20% ;
}
#playerwin
{
    background: rgb(246, 174, 4) !important ;
    width: 15% ;
}
#push
{
    background: rgb(54, 48, 46) !important ;
    width: 20% ;
}
#playerlose
{
    background: rgb(187, 0, 255) !important ;
    width: 20% ;
}
#playerbust
{
    background: rgb(0, 0, 0) !important ;
    width: 20% ;
}

#chart {
    display: flex;
}

.segment
{
    height: 20px !important;
}

h6 {
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.debugtext {
    margin: 0 auto 0;
}

h1 {
    margin: 30px auto 0;
}

.segment:hover .hovertext {
  opacity: 1;
  visibility: visible;
}

#players {
    width: 300px;
}

.theme {
    font-family: 'Arial', sans-serif;
    color: #000000;
}

.top {
    max-width: 1000px;
    max-height: 50px;
    margin: auto;
    background-color: #ffbf7f;
}

.content {
    max-width: 500px;
    margin: auto;
}

.navbar {
    position: absolute;
    left:0px;
    right:0px;

    max-width: 1000px;
    height: 50px;
    margin: auto;

    background-color: #ffbf7f;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: stretch;

}



#home_image {
    display: inline-block;
}

#links {
    position: relative;
    float: right;
    padding: 0.5rem;
}

#bottom_fire_left {
    position: absolute;
    bottom: 0;
    left: 0;
}


#bottom_fire_right {
    position: absolute;
    bottom: 0;
    right: 0;
}

@keyframes slideIn2 {
    0% { opacity: 0; 
        transform: translateY(-30px);}
    100% { opacity: 1; 
        transform: translateY(0px);}
}