body {
    background-color: #000000;
}
 

.theme {
    font-family: 'Noto Sans JP', sans-serif;
    color: #ffffff;
}

a:link {
    color: #ffff00;
}

a:visited {
    color: #aae575;
}


h5 {
    display: inline-block;
}

label {
    background-color: #a9bde63b;
    color: #a9bde6;

    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

#load-file-label {
    display: inline-block;
    background-color: #7edcbb3b;
    color: #7edcbb;
    
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

#next-question-label{
    display: inline-block;
    background-color: #7edcbb3b;
    color: #7edcbb;
    
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}


.top {
    max-width: 1000px;
    max-height: 50px;
    margin: auto;
    background-color: #014180;
}

.side {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: 260px;
    white-space: pre;
    
}

h4 {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.content {
    width: 500px;
    position: relative;
    left: 50%;
    margin-left: -250px;
    display:inline-block;
}

.navbar {
    position: absolute;
    left:0px;
    right:0px;
    background-color: #014180;

    max-width: 1000px;
    height: 50px;
    margin: auto;

    position: fixed;
    bottom: 0;
    display: flex;
    align-items: stretch;

}

#sketch_canvas {
    z-index: -2;
}

#sketch_cube {
    z-index: -1;
}

#home_image {
    display: inline-block;
}

#links {
    position: relative;
    float: right;
    padding: 0.5rem;
}

#bottom_fire_left {
    position: absolute;
    bottom: 0;
    left: 0;
}


#bottom_fire_right {
    position: absolute;
    bottom: 0;
    right: 0;
}

#blank {
    width: 500px;
    height: 9vh; 
}

.within {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align: center;
}

#question-response {
    text-wrap: nowrap;
    font-size: 8px;
    margin-top: 60px;
    font-family: 'Noto Sans JP', sans-serif;
}

#question-text {
    text-wrap: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#display {
    top:0%;
    transform: translateY(550px);
    position: absolute;
    white-space: pre;
    color:#1a1a1a

}

#answer {
    margin-top: 300px;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

#question-response {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#previous {
    position:absolute;
    top: 13vh;
    transform: translateX(40px);
    font-size: 40px;
}

#previous2 {
    position:absolute;
    top: 13vh;
    transform: translateX(125px);
}

#previous3 {
    position:absolute;
    top: 13vh;
    height: 440px;
    transform: translateX(60px);
    text-wrap: wrap;
}

#canvas_2 {
    position:absolute;
    top: 13vh;
    left: 50%;
    height: 450px;
    transform: translate(-380px, 47px);

    text-wrap: wrap;
}

#previous4 {
    position:absolute;
    top: 13vh;
    height: 440px;
    left: 50%;
    transform: translateX(-660px);

    text-wrap: wrap;
    font-size: 28px;
}